<header class="header">
    <div class="" >
      <nav class="nav-bar">
        <a href="qui-sommes-nous.compoent.html">Qui sommes-nous ?</a>
        <a href="n">Que faisons-nous ?</a>
        <a href="qui-sommes-nous.component.html">Maraude</a>
        <a href="qui-sommes-nous.component.html">Animations</a>
        <a href="qui-sommes-nous.component.html">Alimentaire</a>
        <a href="qui-sommes-nous.component.html">Administratif</a>
        <a href="qui-sommes-nous.component.html">Formations</a>
        <a href="qui-sommes-nous.component.html">Fonds d'urgence</a>
        <a href="qui-sommes-nous.component.html">S'engager</a>
        <a href="qui-sommes-nous.component.html">Contact</a>
      </nav>
    </div>
  </header>