<div class="wrapper">
    <div class="page-header section-dark" style="background-image:  url('assets/img/stv-logo-landing-page.jpg')">
        <div class=""></div>
        <div class="content-center">
            <div class="container">
                <div class="title-brand">
                </div> 
            </div>
        </div>
    </div>
  
    <div class="main">
        <p class="h3 lead text-center font-weight-bold">
            SERS TA VILLE<br>
        </p>
        <p class="h3 lead text-center">
            Est une expression qui s'engage avec les collectivités locales désirant
             voir des individus, des familles et des quartiers en bonne santé.
        </p>
    </div>

    <div class="main">
        <p class="h3 lead text-center font-weight-bold">
           NOTRE VISION <br>
        </p>
        <p class="h3 lead text-center">
          Nous existons pour donner de l'espoir aux populations vulnérables grâce à des programmes et
          des partenariats qui favorisent des familles saines en créant des espaces inclusifs et sûrs.
        </p>
    </div>

    <div class="main">
        <p class="h3 lead text-center font-weight-bold">
           NOTRE MISSION <br>
        </p>
        <p class="h3 lead text-center">
            Construire l'espoir auprès des personnes vulnérables en poursuivant un engagement
            transformationnel et non une activité transactionnelle.
            <br>
            Pour constater des changements plus profonds et significatifs, nous nous attaquons aux 
            causes profondes, et non seulement aux symptômes.
            <br>
            Toutes nos actions sont conçues stratégiquement pour permettre de se concentrer sur un plus grand impact.
        </p>
    </div>

      

    <br>
    <br>
    <div class="table-responsive-xl">
        <table class="table table-bordered text-center table-borderless ">
            <tbody>
                <tr>
                  <td><h3 class="font-weight-bold">MARAUDES</h3></td>
                  <td><h3 class="font-weight-bold">ANIMATIONS</h3></td>
                  <td><h3 class="font-weight-bold">ALIMENTAIRES</h3></td>
                </tr>
                <tr>
                    <td><img src="assets/img/actions/maraudes.jpeg"  alt="maraudes" width="50%" height="50%"></td>
                    <td><img src="assets/img/actions/animations.jpeg"  alt="animations" width="65%" height="65%"></td>
                    <td><img src="assets/img/actions/alimentaires.jpeg"  alt="alimentaires" width="60%" height="60%"></td>
                </tr>
                <tr>
                    <td><p class="lead">Pour soutenir les sans-abris et les exilés.</p></td>
                    <td><p class="lead">Organiser des animations globales dans les centres avec les associations locales.</p></td>
                    <td><p class="lead">Distribution et livraison des denrées alimentaires pour les plus démunis.</p></td>
                </tr>

                <tr>
                    <td><h3 class="font-weight-bold">ADMINISTRATIF</h3></td>
                    <td><h3 class="font-weight-bold">FORMATIONS</h3></td>
                    <td><h3 class="font-weight-bold">FONDS D'URGENCE</h3></td>
                </tr>

                <tr>
                    <td><img src="assets/img/actions/administratif.jpg"  alt="administratif" width="50%" height="50%"></td>
                    <td><img src="assets/img/actions/formations.jpeg"  alt="formations" width="65%" height="65%"></td>
                    <td><img src="assets/img/actions/fondUrgence.jpeg"  alt="fondUrgence" width="60%" height="60%"></td>
                </tr>
                <tr>
                    <td><p class="lead">Permanences juridiques et administratives pour aider les plus vulnérables.</p></td>
                    <td><p class="lead">Formation et réinsertion professionnelle.</p></td>
                    <td><p class="lead">Fonds d'urgence pour les populations en détresse.</p></td>
                </tr>

              </tbody>
        </table>
    </div>
    <br>

    <div class="table-responsive-xl">
        <table class="table  table-bordered text-center table-borderless"  background="assets/img/easter.jpg">
            <thead >
                <tr class="font-weight-bold" style="color: black; font-size: x-large;">Killo d'Amour (Pâques)</tr>
            </thead>
            <tbody style="color: black; font-size: large">
                <br>
                <tr>
                    ‘Un Kilo d’Amour’ est une initiative de Hillsong Sers Ta Ville qui permet 
                    de soutenir des épiceries sociales, des sans-abris et des jeunes en détention
                    avec qui nous sommes en partenariat tout au long de l’année, afin d’aider des
                    milliers de familles pendant plusieurs mois.
                </tr>
                <br>
                <tr>
                    <button type="button" class="btn btn-outline-light">En savoir plus sur kilo d'amour</button>
                </tr>
              </tbody>
        </table>
    </div>


    <div class="table-responsive-xl">
        <table class="table  table-bordered text-center table-borderless"  style="background-color: #00b38f">
            <thead >
                <tr class="font-weight-bold" style="color: white; font-size: x-large;">Rejoindre l'équipe </tr>
               
            </thead>
            <tbody style="color: white; font-size: large">

                <tr>
                    Est-ce que vous avez un cœur pour les gens ?
                      <br>
                    Si oui, il y a plusieurs façons par lesquelles vous pouvez donner
                     de votre temps, vos capacités et vos ressources au sein de  
                     Sers Ta Ville. Nous avons différentes équipes et différentes opportunités selon votre passion ou votre domaine d’intérêt. 
                    Envoyez-nous un e-mail en cliquant sur le bouton ci-dessous !
                </tr>
                <br>
                <tr>
                    <button type="button" class="btn btn-outline-light">Plus d'infos</button>
                </tr>
              </tbody>
        </table>
    </div>

    <div class="table-responsive-xl">
        <table class="table  table-bordered text-center table-borderless"  style="background-color: #00b38f">
            <thead >
                    <td class="font-weight-bold" style="color: white; font-size: x-large;">Faire un don </td>
            </thead>
            <tbody style="color: white; font-size: large">

                <tr>
                    Votre don permettra de soutenir des personnes et des familles vulnérables dans le 14ème arrondissement de Paris.
                </tr>
                <br>
                <tr>
                    <button type="button" class="btn btn-outline-light">Donner en ligne</button>
                </tr>
              </tbody>
        </table>
    </div>


    <div class="table-responsive-xl">
        <table class="table  table-bordered text-center table-borderless"  style="background-color: #00b38f">
            <thead >
                    <td class="font-weight-bold" style="color: white; font-size: x-large;">Actualités</td>
            </thead>
            <tbody style="color: white; font-size: large">

                <tr>
                   <td><a href="mailto:hillsong.serstaville@gmail.com"><img src="assets/img/bafa-stv.jpeg"  alt="maraudes" width="100%" height="100%"></a></td> 
                   <td class="lead">Envie de vivre une aventure inoubliable ?<br>
                    Deviens animateur BAFA !
                    <br>
                    Le BAFA, c'est quoi ?
                    <br>
                    Le Brevet d'Aptitude aux Fonctions d'Animateur est un diplôme 
                    qui te permet d'encadrer des enfants et des adolescents pendant
                     les vacances scolaires et les loisirs.</td>
                </tr>
           
              </tbody>
        </table>
    </div>




</div>

     