<div class="wrapper">
    <div class="page-header section-dark" style="background-image: url('assets/img/backgroundSTV.jpg')">
        <div class=""></div>
        <div class="content-center">
            <div class="container">
                <div class="title-brand">
                </div> 
            </div>
        </div>
    </div>
  
    <div class="main">
        <p class="h3 lead text-center">
            Notre appel <i class="bi bi-bag-heart"></i> : faire tout ce que nous pouvons pour apporter de l’aide et des solutions à un monde dans le besoin. 
            Notre but est de sensibiliser et de mobiliser pour que cet engagement soit porté par tous.
        </p>
        <p class="h3 lead text-center font-weight-bold">
            <br>Nous ne pouvons pas tout faire, mais nous devons faire quelque chose.
        </p>
    </div>
    <br>
    <br>
    <div class="table-responsive-xl">
        <table class="table table-bordered text-center table-borderless ">
            <tbody>
                <tr>
                  <th scope="row-auto"></th>
                  <td><img src="assets/img/logo/shopping-bag.jpg" alt="shopping-bag" style="height: 25%; width:25%"></td>    
                  <td><img src="assets/img/logo/team.jpg" alt="team" style="height: 25%; width:25%"></td>
                  <td><img src="assets/img/logo/manucure.jpg" alt="manucure" style="height: 25%; width:25%"></td>
                </tr>
                <tr>
                  <th scope="row"></th>
                  <td class="font-weight-bold">PROJETS ANNUELS</td>
                  <td class="font-weight-bold">STREET TEAMS</td>
                  <td class="font-weight-bold">FOYERS DE FEMMES</td>
                </tr>
                <tr>
                  <th scope="row"></th>
                  <td>Nous mobilisons notre église dans les saisons de Pâques et Noël pour apporter des denrées non-périssables ou des cadeaux pour aider des individus et des familles qui traversent une saison difficile.</td>
                  <td>Chaque semaine, nous allons à la rencontre des sans-abris afin d'avoir un temps de qualité avec eux. Les liens créés permettent de mettre de la valeur sur les personnes rencontrées.</td>
                  <td>Toutes les semaines, un groupe de femmes de notre église rend visite à des femmes dans des structures d'hébergement d'urgence. Avec notre équipe de manucure, on prend soin d'elles afin de mettre de la valeur sur elles en tant que femmes.</td>
                </tr>
              </tbody>
        </table>
    </div>
    <br>

    <div class="table-responsive-xl">
        <table class="table  table-bordered text-center table-borderless"  background="assets/img/noel.jpg">
            <thead >
                <tr class="font-weight-bold" style="color: white; font-size: x-large;">Opération Noël</tr>
            </thead>
            <tbody style="color: white; font-size: large">
                <tr>
                    Restaurer la dignité et aider des familles pendant la saison de Noël
                </tr>
                <br>
                <tr>
                    ‘Opération Noël’ est une opportunité d’aider notre communauté 
                    locale et soutenir des familles qui sont dans 
                    le besoin en cette période de l’année, particulièrement 
                    ceux qui ont été grandement impactées par l’inflation.
                </tr>
                <br>
                <tr>
                    <button type="button" class="btn btn-outline-light">En savoir plus sur l'opération noël</button>
                </tr>
              </tbody>
        </table>
    </div>

    <div class="table-responsive-xl">
        <table class="table  table-bordered text-center table-borderless"  background="assets/img/e.jpg">
            <thead >
                <tr class="font-weight-bold" style="color: white; font-size: x-large;">Killo d'Amour (Pâques)</tr>
            </thead>
            <tbody style="color: white; font-size: large">
                <tr>
                    Restaurer la dignité et aider des familles pendant la saison de Noël
                </tr>
                <br>
                <tr>
                    ‘Opération Noël’ est une opportunité d’aider notre communauté 
                    locale et soutenir des familles qui sont dans 
                    le besoin en cette période de l’année, particulièrement 
                    ceux qui ont été grandement impactées par l’inflation.
                </tr>
                <br>
                <tr>
                    <button type="button" class="btn btn-outline-light">En savoir plus sur kilo d'amour</button>
                </tr>
              </tbody>
        </table>
    </div>


    <div class="table-responsive-xl">
        <table class="table  table-bordered text-center table-borderless"  style="background-color: #044b43">
            <thead >
                <tr class="font-weight-bold" style="color: white; font-size: x-large;">Rejoindre l'équipe</tr>
            </thead>
            <tbody style="color: white; font-size: large">

                <tr>
                    Est-ce que vous avez un cœur pour les gens et pour votre communauté ? 
                    Si oui, il y a plusieurs façons par lesquelles vous pouvez donner
                     de votre temps, vos capacités et vos ressources au sein de Hillsong 
                     Sers Ta Ville. Nous avons différentes équipes et différentes opportunités selon votre passion ou votre domaine d’intérêt. 
                    Envoyez-nous un e-mail en cliquant sur le bouton ci-dessous !
                </tr>
                <br>
                <tr>
                    <button type="button" class="btn btn-outline-light">Plus d'infos</button>
                </tr>
              </tbody>
        </table>
    </div>

    <div class="table-responsive-xl">
        <table class="table  table-bordered text-center table-borderless"  style="background-color: #044b43">
            <thead >
    
                    <td class="font-weight-bold" style="color: white; font-size: x-large;">Faire un don </td>
            
               
            </thead>
            <tbody style="color: white; font-size: large">

                <tr>
                    Votre don permettra de soutenir des familles et des individus dans le besoin dans nos communautés en France, à Genève et au Luxembourg.
                </tr>
                <br>
                <tr>
                    <button type="button" class="btn btn-outline-light">Donner en ligne</button>
                </tr>
              </tbody>
        </table>
    </div>




</div>

     