<nav class="navbar navbar-expand-lg fixed-top "  color style="background-color: #00b38f; color: white;">
    <div class="container">
        <div class="navbar-translate">
            <a class="navbar-brand" href="#">Sers ta ville</a>
            <button class="navbar-toggler navbar-burger" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation" (click)="sidebarToggle()">
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse bg-success" id="navbarToggler">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item  " *ngIf="!isDocumentation()">
                    <a class="nav-link" rel="tooltip" title="" data-placement="bottom" routerLink="/qui-sommes-nous" target="_blank">

                        <p class="d-lg-none">Qui sommes nous ?</p>
                    </a>
                </li>
                <li class="nav-item" *ngIf="!isDocumentation()">
                    <a class="nav-link" rel="tooltip" title="Que faisons-nous" data-placement="bottom" routerLink="/que-faisons-nous" target="_blank">

                        <p class="d-lg-none">Que faisons nous ?</p>
                    </a>
                </li>

                <li class="nav-item" *ngIf="!isDocumentation()">
                    <a class="nav-link" rel="tooltip" title="Que faisons-nous" data-placement="bottom" routerLink="/que-faisons-nous" target="_blank">

                        <p class="d-lg-none">Maraudes</p>
                    </a>
                </li>

                <li class="nav-item" *ngIf="!isDocumentation()">
                    <a class="nav-link" rel="tooltip" title="Que faisons-nous" data-placement="bottom" routerLink="/que-faisons-nous" target="_blank">

                        <p class="d-lg-none">Animations</p>
                    </a>
                </li>

                <li class="nav-item" *ngIf="!isDocumentation()">
                    <a class="nav-link" rel="tooltip" title="Que faisons-nous" data-placement="bottom" routerLink="/que-faisons-nous" target="_blank">

                        <p class="d-lg-none">Alimentaires</p>
                    </a>
                </li>

                <li class="nav-item" *ngIf="!isDocumentation()">
                    <a class="nav-link" rel="tooltip" title="Que faisons-nous" data-placement="bottom" routerLink="/que-faisons-nous" target="_blank">

                    <p class="d-lg-none">Administratif</p>
                    </a>
                </li>

                <li class="nav-item" *ngIf="!isDocumentation()">
                    <a class="nav-link" rel="tooltip" title="Que faisons-nous" data-placement="bottom" routerLink="/que-faisons-nous" target="_blank">

                        <p class="d-lg-none">Formations</p>
                    </a>
                </li>

                <li class="nav-item" *ngIf="!isDocumentation()">
                    <a class="nav-link" rel="tooltip" title="Que faisons-nous" data-placement="bottom" routerLink="/que-faisons-nous" target="_blank">

                        <p class="d-lg-none">Fonds d'urgence</p>
                    </a>
                </li>

                <li class="nav-item" *ngIf="!isDocumentation()">
                    <a class="nav-link" rel="tooltip" title="S'engager" data-placement="bottom" routerLink="/engager" target="_blank">
                    
                        <p class="d-lg-none">S'engager</p>
                    </a>
                </li>
                <li class="nav-item" *ngIf="!isDocumentation()">
                    <a class="nav-link" rel="tooltip" title="Contact" data-placement="bottom" routerLink="/contact" target="_blank">
                     
                        <p class="d-lg-none">Contact</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
