<div class="container">
    <h1>Qui sommes-nous ?</h1>
  
    <div class="row">
      <div class="col-md-6">
        <img src="assets/images/benevolat.jpg" alt="Image bénévolat" class="img-fluid">
      </div>
      <div class="col-md-6">
        <p>
          **[Nom de l'association]** est une association à but non lucratif qui œuvre pour [mission de l'association]. 
          Depuis [année de création], nous sommes engagés à [objectifs de l'association].
        </p>
        <p>
          Nos actions s'articulent autour de [valeurs de l'association]:
        </p>
        <ul>
          <li>[Valeur 1]</li>
          <li>[Valeur 2]</li>
          <li>[Valeur 3]</li>
        </ul>
        <p>
          **Rejoignez-nous !**
          Devenez bénévole et participez à nos actions pour [impact de l'association].
          Pour plus d'informations, visitez notre page [Lien vers page "Devenir bénévole"].
        </p>
      </div>
    </div>
  </div>
  