<div class="container">
    <h1>Qui sommes-nous ?</h1>
  
    <div class="row">
      <div class="col-md-6">
        <img src="assets/images/benevolat.jpg" alt="Image bénévolat" class="img-fluid">
      </div>
      <div class="col-md-6">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus a porttitor dui. Etiam viverra malesuada ipsum, vitae accumsan nunc commodo at. Mauris at lorem ut sem convallis eleifend. Nam pellentesque lectus ac ex sollicitudin eleifend. Cras maximus mauris lacus, e
        </p>
        <p>
          Ut dignissim tellus eget erat consectetur, eget elementum nis
        </p>
        <ul>
          <li>[Valeur 1]</li>
          <li>[Valeur 2]</li>
          <li>[Valeur 3]</li>
        </ul>
        <p>
          **Rejoignez-nous !**
          Nam eu bibendum lacus. Donec volutpat mi sed risus cursus, nec aliquam erat aliquet. Aenean id lobortis lectus, sit amet auctor sem. Curabitur eu risus non magna aliquet tempor a ut risus. Sed lectus nisl, sollicitudin eu rutrum a, pharetra bibendum quam. Phasellus feugiat efficitur pellentesque. Pellentesque vel lib
        </p>
      </div>
    </div>
  </div>
  