<!-- Footer -->
<footer class="text-center text-lg-start bg-body-tertiary text-muted">
 
  <h3 class="font-weight-bold">Contact</h3>
 
  <!-- Section: Social media -->
  <section class="d-flex justify-content-center justify-content-lg-between p-1 border-bottom">
    <!-- Left -->
    <div class="me-5 d-none d-lg-block">

    </div>
    <!-- Left -->

    <!-- Right -->
    <table>
      <tr>
        <td style="padding: 15px;">
          <a href="https://www.facebook.com/HillsongSersTaVille/?locale=fr_FR" target="_blank" class="me-1 text-reset">
            <i class="fab fa-facebook-f" style="font-size: 400%;"></i>
          </a>
        </td>
        <br>
        <td>
          <a href="https://www.instagram.com/hillsong.serstaville/?hl=fr" target="_blank" class="me-4 text-reset">
            <i class="fab fa-instagram" style="font-size: 400%;"></i>
          </a>
        </td>
      </tr>


    </table>
  
    <!-- Right -->
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->

    
        <!-- Grid column -->

      
        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
        
         
          
     
            <a href="mailto:hillsong.serstaville@gmail.com" class="btn btn-success">  <i class="fas fa-envelope me-3"></i> hillsong.serstaville@gmail.com</a>
          <br>
          <br>
          
          <p><i class="fas fa-phone me-3"></i> <a href="tel:+33 (0)9 74 77 75 75" style="color: green; font-size: x-large;">+33 (0)9 74 77 75 75</a></p>
          <br>
          <p><i class="fas fa-note-sticky"></i> <a href="https://hillsong.com/fr/privacy/" style="color: black; font-size: x-large; ">Juridique</a></p>
          
        </div>
    
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2021 Copyright:
    <a class="text-reset fw-bold" href="https://mdbootstrap.com/">MDBootstrap.com</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->