<footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h5 class="text-center">Contact</h5>
          <table class="table table-borderless">
            <tbody>
              <tr>
                <td><i class="fa fa-phone"></i></td>
                <td>+33 (0)9 74 77 75 75</td>
              </tr>
              <tr>
                <td><i class="fa fa-envelope"></i></td>
                <td>info@hillsong.fr</td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="col-md-4">
          <h5 class="text-center">Réseaux sociaux</h5>
          <ul class="social-icons">
            <li><a href="#"><i class="fab fa-facebook"></i></a></li>
            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
          </ul>
        </div>

      <div class="col-md-4">
          <h5 class="text-center">Juridique</h5>
          <table class="table table-borderless">
            <tbody>
              <tr>
                <td><i class="fa-solid fa-scroll"></i></td>
                <td>Lire notre politique
                    de confidentialité
                </td>
              </tr>
        
            </tbody>
          </table>
        </div>


      </div>
    </div>
  </footer>
